:root {
  --background-color: #263343;
  --text-color: #f0f4f5;
  --accent-color: #d49465;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
  padding-left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--background-color);
}

.navbar .logo {
  font-size: 24px;
}

.navbar .logo i {
  color: var(--accent-color);
}

.navbar .menu {
  display: flex;
}

.navbar .menu li {
  padding: 8px 12px;
}

.navbar .menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar .icons {
  display: flex;
  color: var(--text-color);
}

.navbar .icons li {
  padding: 8px 12px;
}

.navbar .toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar .menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar .menu li a {
    display: block;
  }

  .navbar .icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar .toggleBtn {
    display: block;
  }

  .navbar .menu.active,
  .navbar .icons.active {
    display: flex;
  }
}
